<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstTabCate</key>
		<array>
			<dict>
				<key>groupList</key>
				<array>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>粘合衬</string>
							</dict>
							<dict>
								<key>name</key>
								<string>无纺衬布</string>
							</dict>
							<dict>
								<key>name</key>
								<string>腰衬</string>
							</dict>
							<dict>
								<key>name</key>
								<string>胸衬</string>
							</dict>
							<dict>
								<key>name</key>
								<string>领衬</string>
							</dict>
							<dict>
								<key>name</key>
								<string>垫肩</string>
							</dict>
							<dict>
								<key>name</key>
								<string>牵条衬</string>
							</dict>
							<dict>
								<key>name</key>
								<string>毛衬</string>
							</dict>
							<dict>
								<key>name</key>
								<string>麻布衬</string>
							</dict>
							<dict>
								<key>name</key>
								<string>棉布衬</string>
							</dict>
							<dict>
								<key>name</key>
								<string>化纤衬布</string>
							</dict>
						</array>
						<key>name</key>
						<string>品种</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>木质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>金属</string>
							</dict>
							<dict>
								<key>name</key>
								<string>树脂</string>
							</dict>
							<dict>
								<key>name</key>
								<string>塑料</string>
							</dict>
							<dict>
								<key>name</key>
								<string>象牙/戴帽</string>
							</dict>
							<dict>
								<key>name</key>
								<string>牛角/贝壳</string>
							</dict>
							<dict>
								<key>name</key>
								<string>皮/毛/革</string>
							</dict>
							<dict>
								<key>name</key>
								<string>果实/植物</string>
							</dict>
							<dict>
								<key>name</key>
								<string>棉</string>
							</dict>
							<dict>
								<key>name</key>
								<string>麻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>尼龙</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纤维</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纸质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>亚克力</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水晶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>人造丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>玻璃</string>
							</dict>
							<dict>
								<key>name</key>
								<string>涤纶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>乳胶丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>低弹丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它</string>
							</dict>
						</array>
						<key>name</key>
						<string>材质</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>钉珠</string>
							</dict>
							<dict>
								<key>name</key>
								<string>绣花</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水溶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>电镀</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做旧</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫钻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>编织</string>
							</dict>
							<dict>
								<key>name</key>
								<string>抛光</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烤漆</string>
							</dict>
							<dict>
								<key>name</key>
								<string>染色</string>
							</dict>
							<dict>
								<key>name</key>
								<string>贴布绣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镂空</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镶嵌</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光镭射</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光雕刻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>包皮革/布</string>
							</dict>
							<dict>
								<key>name</key>
								<string>撒金</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫图</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫片</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做色</string>
							</dict>
						</array>
						<key>name</key>
						<string>工艺</string>
					</dict>
				</array>
				<key>name</key>
				<string>衬料</string>
			</dict>
			<dict>
				<key>groupList</key>
				<array>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>棉絮</string>
							</dict>
							<dict>
								<key>name</key>
								<string>羽绒</string>
							</dict>
							<dict>
								<key>name</key>
								<string>丝绵</string>
							</dict>
							<dict>
								<key>name</key>
								<string>羊绒</string>
							</dict>
							<dict>
								<key>name</key>
								<string>骆驼绒</string>
							</dict>
							<dict>
								<key>name</key>
								<string>木棉</string>
							</dict>
							<dict>
								<key>name</key>
								<string>合成填料</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它填料</string>
							</dict>
						</array>
						<key>name</key>
						<string>品种</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>木质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>金属</string>
							</dict>
							<dict>
								<key>name</key>
								<string>树脂</string>
							</dict>
							<dict>
								<key>name</key>
								<string>塑料</string>
							</dict>
							<dict>
								<key>name</key>
								<string>象牙/戴帽</string>
							</dict>
							<dict>
								<key>name</key>
								<string>牛角/贝壳</string>
							</dict>
							<dict>
								<key>name</key>
								<string>皮/毛/革</string>
							</dict>
							<dict>
								<key>name</key>
								<string>果实/植物</string>
							</dict>
							<dict>
								<key>name</key>
								<string>棉</string>
							</dict>
							<dict>
								<key>name</key>
								<string>麻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>尼龙</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纤维</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纸质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>亚克力</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水晶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>人造丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>玻璃</string>
							</dict>
							<dict>
								<key>name</key>
								<string>涤纶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>乳胶丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>低弹丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它</string>
							</dict>
						</array>
						<key>name</key>
						<string>材质</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>钉珠</string>
							</dict>
							<dict>
								<key>name</key>
								<string>绣花</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水溶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>电镀</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做旧</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫钻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>编织</string>
							</dict>
							<dict>
								<key>name</key>
								<string>抛光</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烤漆</string>
							</dict>
							<dict>
								<key>name</key>
								<string>染色</string>
							</dict>
							<dict>
								<key>name</key>
								<string>贴布绣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镂空</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镶嵌</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光镭射</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光雕刻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>包皮革/布</string>
							</dict>
							<dict>
								<key>name</key>
								<string>撒金</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫图</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫片</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做色</string>
							</dict>
						</array>
						<key>name</key>
						<string>工艺</string>
					</dict>
				</array>
				<key>name</key>
				<string>填料</string>
			</dict>
			<dict>
				<key>groupList</key>
				<array>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>织带</string>
							</dict>
							<dict>
								<key>name</key>
								<string>装饰带</string>
							</dict>
							<dict>
								<key>name</key>
								<string>罗纹带</string>
							</dict>
							<dict>
								<key>name</key>
								<string>松紧带</string>
							</dict>
							<dict>
								<key>name</key>
								<string>松紧绳</string>
							</dict>
							<dict>
								<key>name</key>
								<string>编织绳</string>
							</dict>
							<dict>
								<key>name</key>
								<string>皮绳</string>
							</dict>
							<dict>
								<key>name</key>
								<string>缝纫线</string>
							</dict>
							<dict>
								<key>name</key>
								<string>工艺装饰线</string>
							</dict>
							<dict>
								<key>name</key>
								<string>绣花线</string>
							</dict>
							<dict>
								<key>name</key>
								<string>编结线</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镶嵌线</string>
							</dict>
							<dict>
								<key>name</key>
								<string>金银线</string>
							</dict>
							<dict>
								<key>name</key>
								<string>特种用线</string>
							</dict>
							<dict>
								<key>name</key>
								<string>帽墙带</string>
							</dict>
							<dict>
								<key>name</key>
								<string>滚边带</string>
							</dict>
							<dict>
								<key>name</key>
								<string>搭扣带</string>
							</dict>
							<dict>
								<key>name</key>
								<string>魔术贴</string>
							</dict>
							<dict>
								<key>name</key>
								<string>门襟带</string>
							</dict>
						</array>
						<key>name</key>
						<string>门襟带</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>木质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>金属</string>
							</dict>
							<dict>
								<key>name</key>
								<string>树脂</string>
							</dict>
							<dict>
								<key>name</key>
								<string>塑料</string>
							</dict>
							<dict>
								<key>name</key>
								<string>象牙/戴帽</string>
							</dict>
							<dict>
								<key>name</key>
								<string>牛角/贝壳</string>
							</dict>
							<dict>
								<key>name</key>
								<string>皮/毛/革</string>
							</dict>
							<dict>
								<key>name</key>
								<string>果实/植物</string>
							</dict>
							<dict>
								<key>name</key>
								<string>棉</string>
							</dict>
							<dict>
								<key>name</key>
								<string>麻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>尼龙</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纤维</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纸质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>亚克力</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水晶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>人造丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>玻璃</string>
							</dict>
							<dict>
								<key>name</key>
								<string>涤纶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>乳胶丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>低弹丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它</string>
							</dict>
						</array>
						<key>name</key>
						<string>材质</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>钉珠</string>
							</dict>
							<dict>
								<key>name</key>
								<string>绣花</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水溶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>电镀</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做旧</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫钻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>编织</string>
							</dict>
							<dict>
								<key>name</key>
								<string>抛光</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烤漆</string>
							</dict>
							<dict>
								<key>name</key>
								<string>染色</string>
							</dict>
							<dict>
								<key>name</key>
								<string>贴布绣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镂空</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镶嵌</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光镭射</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光雕刻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>包皮革/布</string>
							</dict>
							<dict>
								<key>name</key>
								<string>撒金</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫图</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫片</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做色</string>
							</dict>
						</array>
						<key>name</key>
						<string>工艺</string>
					</dict>
				</array>
				<key>name</key>
				<string>线/带/绳</string>
			</dict>
			<dict>
				<key>groupList</key>
				<array>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>纽扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>工艺纽扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>拉链</string>
							</dict>
							<dict>
								<key>name</key>
								<string>工字扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>四合扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>钩</string>
							</dict>
							<dict>
								<key>name</key>
								<string>环</string>
							</dict>
							<dict>
								<key>name</key>
								<string>腰带扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>暗扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>按扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>大白扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>盘扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>皮攀扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>牛角扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>橄榄扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>五爪扣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它</string>
							</dict>
						</array>
						<key>name</key>
						<string>品种</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>木质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>金属</string>
							</dict>
							<dict>
								<key>name</key>
								<string>树脂</string>
							</dict>
							<dict>
								<key>name</key>
								<string>塑料</string>
							</dict>
							<dict>
								<key>name</key>
								<string>象牙/戴帽</string>
							</dict>
							<dict>
								<key>name</key>
								<string>牛角/贝壳</string>
							</dict>
							<dict>
								<key>name</key>
								<string>皮/毛/革</string>
							</dict>
							<dict>
								<key>name</key>
								<string>果实/植物</string>
							</dict>
							<dict>
								<key>name</key>
								<string>棉</string>
							</dict>
							<dict>
								<key>name</key>
								<string>麻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>尼龙</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纤维</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纸质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>亚克力</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水晶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>人造丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>玻璃</string>
							</dict>
							<dict>
								<key>name</key>
								<string>涤纶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>乳胶丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>低弹丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它</string>
							</dict>
						</array>
						<key>name</key>
						<string>材质</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>钉珠</string>
							</dict>
							<dict>
								<key>name</key>
								<string>绣花</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水溶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>电镀</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做旧</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫钻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>编织</string>
							</dict>
							<dict>
								<key>name</key>
								<string>抛光</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烤漆</string>
							</dict>
							<dict>
								<key>name</key>
								<string>染色</string>
							</dict>
							<dict>
								<key>name</key>
								<string>贴布绣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镂空</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镶嵌</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光镭射</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光雕刻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>包皮革/布</string>
							</dict>
							<dict>
								<key>name</key>
								<string>撒金</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫图</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫片</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做色</string>
							</dict>
						</array>
						<key>name</key>
						<string>工艺</string>
					</dict>
				</array>
				<key>name</key>
				<string>紧扣类</string>
			</dict>
			<dict>
				<key>groupList</key>
				<array>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>花边</string>
							</dict>
							<dict>
								<key>name</key>
								<string>领花</string>
							</dict>
							<dict>
								<key>name</key>
								<string>毛条/领</string>
							</dict>
							<dict>
								<key>name</key>
								<string>绣章</string>
							</dict>
							<dict>
								<key>name</key>
								<string>手工花</string>
							</dict>
							<dict>
								<key>name</key>
								<string>装饰挂件</string>
							</dict>
							<dict>
								<key>name</key>
								<string>装饰链</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫钻/片</string>
							</dict>
							<dict>
								<key>name</key>
								<string>珠/片</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水钻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>流苏</string>
							</dict>
							<dict>
								<key>name</key>
								<string>羽毛</string>
							</dict>
							<dict>
								<key>name</key>
								<string>铆钉</string>
							</dict>
							<dict>
								<key>name</key>
								<string>气眼</string>
							</dict>
							<dict>
								<key>name</key>
								<string>拉片</string>
							</dict>
							<dict>
								<key>name</key>
								<string>吊钟</string>
							</dict>
							<dict>
								<key>name</key>
								<string>铜尾夹</string>
							</dict>
							<dict>
								<key>name</key>
								<string>衣角钉</string>
							</dict>
						</array>
						<key>name</key>
						<string>品种</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>木质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>金属</string>
							</dict>
							<dict>
								<key>name</key>
								<string>树脂</string>
							</dict>
							<dict>
								<key>name</key>
								<string>塑料</string>
							</dict>
							<dict>
								<key>name</key>
								<string>象牙/戴帽</string>
							</dict>
							<dict>
								<key>name</key>
								<string>牛角/贝壳</string>
							</dict>
							<dict>
								<key>name</key>
								<string>皮/毛/革</string>
							</dict>
							<dict>
								<key>name</key>
								<string>果实/植物</string>
							</dict>
							<dict>
								<key>name</key>
								<string>棉</string>
							</dict>
							<dict>
								<key>name</key>
								<string>麻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>尼龙</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纤维</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纸质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>亚克力</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水晶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>人造丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>玻璃</string>
							</dict>
							<dict>
								<key>name</key>
								<string>涤纶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>乳胶丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>低弹丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它</string>
							</dict>
						</array>
						<key>name</key>
						<string>材质</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>钉珠</string>
							</dict>
							<dict>
								<key>name</key>
								<string>绣花</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水溶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>电镀</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做旧</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫钻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>编织</string>
							</dict>
							<dict>
								<key>name</key>
								<string>抛光</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烤漆</string>
							</dict>
							<dict>
								<key>name</key>
								<string>染色</string>
							</dict>
							<dict>
								<key>name</key>
								<string>贴布绣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镂空</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镶嵌</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光镭射</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光雕刻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>包皮革/布</string>
							</dict>
							<dict>
								<key>name</key>
								<string>撒金</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫图</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫片</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做色</string>
							</dict>
						</array>
						<key>name</key>
						<string>工艺</string>
					</dict>
				</array>
				<key>name</key>
				<string>装饰类</string>
			</dict>
			<dict>
				<key>groupList</key>
				<array>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>腰带</string>
							</dict>
							<dict>
								<key>name</key>
								<string>围巾</string>
							</dict>
							<dict>
								<key>name</key>
								<string>项链</string>
							</dict>
							<dict>
								<key>name</key>
								<string>胸饰</string>
							</dict>
							<dict>
								<key>name</key>
								<string>披肩</string>
							</dict>
							<dict>
								<key>name</key>
								<string>头饰</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它配饰</string>
							</dict>
						</array>
						<key>name</key>
						<string>品种</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>木质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>金属</string>
							</dict>
							<dict>
								<key>name</key>
								<string>树脂</string>
							</dict>
							<dict>
								<key>name</key>
								<string>塑料</string>
							</dict>
							<dict>
								<key>name</key>
								<string>象牙/玳瑁</string>
							</dict>
							<dict>
								<key>name</key>
								<string>牛角/贝壳</string>
							</dict>
							<dict>
								<key>name</key>
								<string>皮/毛/革</string>
							</dict>
							<dict>
								<key>name</key>
								<string>果实/植物</string>
							</dict>
							<dict>
								<key>name</key>
								<string>棉</string>
							</dict>
							<dict>
								<key>name</key>
								<string>麻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>尼龙</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纤维</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纸质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>亚克力</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水晶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>人造丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>玻璃</string>
							</dict>
							<dict>
								<key>name</key>
								<string>涤纶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>乳胶丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>低弹丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它</string>
							</dict>
						</array>
						<key>name</key>
						<string>材质</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>钉珠</string>
							</dict>
							<dict>
								<key>name</key>
								<string>绣花</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水溶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>电镀</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做旧</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫钻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>编织</string>
							</dict>
							<dict>
								<key>name</key>
								<string>抛光</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烤漆</string>
							</dict>
							<dict>
								<key>name</key>
								<string>染色</string>
							</dict>
							<dict>
								<key>name</key>
								<string>贴布绣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镂空</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镶嵌</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光镭射</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光雕刻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>包皮革/布</string>
							</dict>
							<dict>
								<key>name</key>
								<string>撒金</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫图</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫片</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做色</string>
							</dict>
						</array>
						<key>name</key>
						<string>工艺</string>
					</dict>
				</array>
				<key>name</key>
				<string>配饰</string>
			</dict>
			<dict>
				<key>groupList</key>
				<array>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>吊牌</string>
							</dict>
							<dict>
								<key>name</key>
								<string>包装纸/袋</string>
							</dict>
							<dict>
								<key>name</key>
								<string>衣架/模特</string>
							</dict>
							<dict>
								<key>name</key>
								<string>吊粒/吊牌</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它</string>
							</dict>
						</array>
						<key>name</key>
						<string>品种</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>木质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>金属</string>
							</dict>
							<dict>
								<key>name</key>
								<string>树脂</string>
							</dict>
							<dict>
								<key>name</key>
								<string>塑料</string>
							</dict>
							<dict>
								<key>name</key>
								<string>象牙/戴帽</string>
							</dict>
							<dict>
								<key>name</key>
								<string>牛角/贝壳</string>
							</dict>
							<dict>
								<key>name</key>
								<string>皮/毛/革</string>
							</dict>
							<dict>
								<key>name</key>
								<string>果实/植物</string>
							</dict>
							<dict>
								<key>name</key>
								<string>棉</string>
							</dict>
							<dict>
								<key>name</key>
								<string>麻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>尼龙</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纤维</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纸质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>亚克力</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水晶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>人造丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>玻璃</string>
							</dict>
							<dict>
								<key>name</key>
								<string>涤纶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>乳胶丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>低弹丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它</string>
							</dict>
						</array>
						<key>name</key>
						<string>材质</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>钉珠</string>
							</dict>
							<dict>
								<key>name</key>
								<string>绣花</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水溶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>电镀</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做旧</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫钻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>编织</string>
							</dict>
							<dict>
								<key>name</key>
								<string>抛光</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烤漆</string>
							</dict>
							<dict>
								<key>name</key>
								<string>染色</string>
							</dict>
							<dict>
								<key>name</key>
								<string>贴布绣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镂空</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镶嵌</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光镭射</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光雕刻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>包皮革/布</string>
							</dict>
							<dict>
								<key>name</key>
								<string>撒金</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫图</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫片</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做色</string>
							</dict>
						</array>
						<key>name</key>
						<string>工艺</string>
					</dict>
				</array>
				<key>name</key>
				<string>配件</string>
			</dict>
			<dict>
				<key>groupList</key>
				<array>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>商标</string>
							</dict>
							<dict>
								<key>name</key>
								<string>皮标</string>
							</dict>
							<dict>
								<key>name</key>
								<string>织唛</string>
							</dict>
							<dict>
								<key>name</key>
								<string>洗涤标</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它</string>
							</dict>
						</array>
						<key>name</key>
						<string>品种</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>木质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>金属</string>
							</dict>
							<dict>
								<key>name</key>
								<string>树脂</string>
							</dict>
							<dict>
								<key>name</key>
								<string>塑料</string>
							</dict>
							<dict>
								<key>name</key>
								<string>象牙/戴帽</string>
							</dict>
							<dict>
								<key>name</key>
								<string>牛角/贝壳</string>
							</dict>
							<dict>
								<key>name</key>
								<string>皮/毛/革</string>
							</dict>
							<dict>
								<key>name</key>
								<string>果实/植物</string>
							</dict>
							<dict>
								<key>name</key>
								<string>棉</string>
							</dict>
							<dict>
								<key>name</key>
								<string>麻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>尼龙</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纤维</string>
							</dict>
							<dict>
								<key>name</key>
								<string>纸质</string>
							</dict>
							<dict>
								<key>name</key>
								<string>亚克力</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水晶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>人造丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>玻璃</string>
							</dict>
							<dict>
								<key>name</key>
								<string>涤纶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>乳胶丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>低弹丝</string>
							</dict>
							<dict>
								<key>name</key>
								<string>其它</string>
							</dict>
						</array>
						<key>name</key>
						<string>材质</string>
					</dict>
					<dict>
						<key>tabCateList</key>
						<array>
							<dict>
								<key>name</key>
								<string>钉珠</string>
							</dict>
							<dict>
								<key>name</key>
								<string>绣花</string>
							</dict>
							<dict>
								<key>name</key>
								<string>水溶</string>
							</dict>
							<dict>
								<key>name</key>
								<string>电镀</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做旧</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫钻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>编织</string>
							</dict>
							<dict>
								<key>name</key>
								<string>抛光</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烤漆</string>
							</dict>
							<dict>
								<key>name</key>
								<string>染色</string>
							</dict>
							<dict>
								<key>name</key>
								<string>贴布绣</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镂空</string>
							</dict>
							<dict>
								<key>name</key>
								<string>镶嵌</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光镭射</string>
							</dict>
							<dict>
								<key>name</key>
								<string>激光雕刻</string>
							</dict>
							<dict>
								<key>name</key>
								<string>包皮革/布</string>
							</dict>
							<dict>
								<key>name</key>
								<string>撒金</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫图</string>
							</dict>
							<dict>
								<key>name</key>
								<string>烫片</string>
							</dict>
							<dict>
								<key>name</key>
								<string>做色</string>
							</dict>
						</array>
						<key>name</key>
						<string>工艺</string>
					</dict>
				</array>
				<key>name</key>
				<string>其它辅料</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
